.admin-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(135deg, #201928 0%, #3da5f5 100%);
  color: white;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: none;
  height: 70px;
}

.admin-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.admin-header .toggle-sidebar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 1rem;
}

.header-actions {
  display: flex;
  align-items: center;
}

.logout-header-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-header-btn:hover {
  background-color: white;
  color: #3da5f5;
}

@media (max-width: 768px) {
  .admin-header {
    padding: 1rem;
  }
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("../assets/images/homebg.jpg");
  background-size: cover;
}

body {
  margin-top: 80px;
}