body {
  background-color: #e6f7ff;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px;
  font-family: Arial, sans-serif;
  color: #1A2E49;
  margin-top: 40px;
}

#ccc {
  color: #000;
}

h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #1A2E49;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;

}

label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #1A2E49;
}


input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 2px solid #dab4b0 !important;
  padding: 10px 5px;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom-color: #3da5f5;
}

textarea {
  resize: vertical;
  height: 100px;
}

.error {
  color: #e74c3c;
  font-size: 0.875rem;
  position: absolute;
  bottom: -20px;
}

.success {
  color: #1A2E49;
  text-align: center;
  margin-top: 20px;
}

.submit-button {
  padding: 10px 20px;
  color: white;
  background-color: #3da5f5;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border: #3da5f5 2px solid;
}

.submit-button:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 20px;
    margin-top: 80px;
    width: 95%;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }
}