/* General Styles */
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  background: white;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.qution_mark {
  color: #3da5f5;
  font-size: 70px;
  font-weight: bold;

}

.name {
  margin-left: 10px;
  color: #3da5f5;
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

#log {
  margin-right: 20px;
}

.links.open {
  display: flex;
}

.one-links {
  margin: 0 15px;
}

.link {
  color: #3da5f5;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.link.active {
  color: #ff5722;
  font-weight: bold;
  border-bottom: 2px solid #ff5722;
}

.button1 {
  background-color: rgb(56, 56, 232);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.button1:hover {
  transform: scale(1.05);
  background-color: #ff5722;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1.5rem;
  color: rgb(56, 56, 232);

}

.menu-icon,
.close-icon {
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
}



@media screen and (max-width: 768px) {
  .links {
    position: absolute;
    top: 70px;
    left: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    display: none;
    /* Hidden by default */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .links.open {
    display: flex;
    /* Show menu when open */
  }

  .one-links {
    margin: 15px 0;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .menu-icon,
  .close-icon {
    margin-right: 0;
  }

  .name {
    margin-left: 0;
  }
}